$main-color: lightgray;
$hover-color: gray;
$text-color: black;

header {
  .navbar-inverse {
    background-color: $main-color;
    border-color: $main-color;
  }

  .navbar-brand {
    color: $text-color;
  }

  .nav-link {
    border-radius: 30px;
  }

  .navbar-header {
    margin-top: 6px;

    img {
      margin-top: 16px;
      margin-left: -10px;
      margin-right: 10px;
      height: 18px;
      width: 29px;
    }
  }

  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;
          color: $text-color;

          &:hover {
            background: $hover-color;
            border-radius: 30px;
          }
        }
      }
    }

    .form-horizontal {
      margin-top: 10px;
    }

    .form-title {
      font-size: 30px;
      margin-left: 23px;
    }

    .form-control {
      width: 200px;
      margin-left: 23px;
      border-radius: 30px;
    }

    .btn {
      margin-left: 23px;
      background-color: $hover-color;
      border-color: $main-color;
      margin-bottom: 15px;

      &:hover {
        background-color: $hover-color;
      }
    }

    .login {
      margin-bottom: 15px;
    }

    .dropdown-menu {
      width: 250px !important;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      margin-right: 10px;
    }
  }
}
