.form-control {
  border-radius: 30px;
  height: 45px;
}

.jumbotron {
  padding: 7px 0px;
}

.todoList {
  margin: 5px 0px;
}

.input-group-addon {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
